.visibility {
    display: none;
}


.question-name, .options input[type = "text"] {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.question-name::placeholder {
    font-family: 'Poppins',sans-serif;
}

.question-name {
    margin-top: 1rem;
    padding: 1rem;
    width: 95%;
}

.option-types {
    display: flex;
    align-items: center;
    color: var(--gray-400);
    font-weight: 500;
    margin-top: 0.5rem;
}

.types {
    margin-top: 0.1rem;
    margin-left: 1rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.types div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.types button, .select-btn {
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    height: 15px;
    width: 13px;
    border: 2px solid var(--gray-400);
}

.types button div,.select-btn div {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transform: translateX(-3.5px);
    background-color: transparent;
}


.types .select {
    background-color: var(--slate-800);
}

.types .last-btn div {
    transform: translateX(-4px) ;
}


.options-timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray-400);
}

.options-timer fieldset {
    margin-left: -2rem;
    border: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.options input[type = "text"] {
    padding: 0.8rem;
}

.option {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.poll-option {
    margin-left: 1.5rem;
}

.option input {
    font-family: 'Poppins',sans-serif;
}

.select-btn {
    cursor: pointer;
    height: 15px;
    width: 13px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--gray-400);
    cursor: pointer;
}


.delete-option {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-option {
    background-color: transparent;
    padding: 0.5rem 0;
    border: none;
    max-width: 200px;
    margin-left: 1.9rem;
    font-family: 'Poppins',sans-serif;
    color: var(--gray-400);
    cursor: pointer;
    border-radius: 10px;
    font-size: clamp(1rem,0.8vw,1.2rem);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.poll-btn {
    max-width: 180px;
}

.text-img {
    display: flex;
    gap: 1rem;
}


.text-img input:first-child {
    flex-grow: 1;
}

.text-img input:last-child {
    flex-grow: 2;
}

.timer {
    font-weight: 500;
}

.timer div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.timer button {
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    color: var(--gray-400);
    font-weight: 500;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.timer button:hover {
    background-color: var(--red-600);
    color: white;
    box-shadow: 0 0 15px 0 rgba(255, 75, 75, 0.36);
}

.timer .select {
    background-color: var(--red-600);
    color: white;
    box-shadow: 0 0 15px 0 rgba(255, 75, 75, 0.36);
}

.options .option .select {
    background-color: var(--green-600);
    color: white;
}